/.vscode
/airline_paysum
/cl3.work
/day12edu
/day8study
/fiori16
/fiori17
/fioripractice715
/jsonedu
/jsontest
/looptest
/math
/mmpractice
/solopractice
/split_event
/table
/ux1exam01
/work15
/zcl3_bkpf_15
/zcl3_bkpf_15-2024-11-190859.zip